<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio_item.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @portfolio_item.thumbnail %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @portfolio_item.timestamps %>
</p>

<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
